﻿<h1>Films</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Année</th>
            <th scope="col">Pays</th>
            <th scope="col">Langue</th>
            <th scope="col">Note</th>
        </tr>
    </thead>
    <tbody>
        @{foreach (Movie movie in ViewBag.Movies)
            {
                <tr>
                    <td>@movie.MovieTitle</td>
                    <td>@movie.TitleYear</td>
                    <td>@movie.Country</td>
                    <td>@movie.Language</td>
                    <td>@movie.ContentRating</td>
                </tr>
            }

        }
    </tbody>
</table>
