﻿<h1>50 films</h1>

<table>

    <thead>
        <tr>Nom film</tr>
        <tr>Année</tr>
    </thead>
    <tbody>
        @{foreach (MovieSimple movie in ViewBag.Movies)
            {
                <tr>
                    <td>@movie.MovieTitle</td>
                    <td>@movie.TitleYear</td>
                </tr>
            }

        }
    </tbody>
</table>

<!--

<div class="container mt-3 mb-3">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Film</th>
                <th scope="col">Année</th>
                <th scope="col">Budget</th>
                <th scope="col">recettes</th>
                <th scope="col">Durée</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
    -->
