﻿@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">-->
<div class="i">
    <style>
        body {
            background-image: url('../img/starwars.jpg');
            background-size: 100% 93%;
            /*background-size: cover;*/
            background-repeat: no-repeat;
        }
    </style>
    <div class="tImg">
        <h1 class="display-4">
            Bienvenue sur <br />
            Mongo Movies
        </h1>
        <p>Il y a longtemps, bien longtemps, dans une galaxie lointaine...</p>
    </div>
</div>

