﻿<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Partials/Layout/_Header.cshtml" />
</head>

<body>
@*Barre de navigation*@
        <partial name="~/Views/Partials/Layout/_Navbar.cshtml" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @* Pied de page *@
    <partial name="~/Views/Partials/Layout/_Footer.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
