﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MongoMovies
        </div>
    </footer>
}
