﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MongoMovies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Films</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="MovieSimple" asp-action="Index">Nombre de films</a>
                            <a class="dropdown-item" asp-controller="MovieSimple" asp-action="List">50 films</a>
                            <a class="dropdown-item" asp-controller="Movie" asp-action="AMovie">Les films</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Realisateurs</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
 
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Informations</a>
                   
                </form>
            </div>
        </div>
    </nav>
}
